

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





header {
    display: flex;
    justify-content: space-between;
    padding: .7rem 5vw ;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 7vw;
    top: 0;
    left: 0;
    color: black;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;

}

nav,
.links a{
    display: flex;
    text-decoration: underline;
    text-underline-offset: .5rem;

}

.links{
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
    font-weight: 700;
}

.icon {
    height: 50px;
    width: 50px;
    display: flex;

}

body {
    font-family: Arial, san-serif;
}


.bakeryPhoto {
    margin-top: 93px;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-bottom: 00px;
    height: 550px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

.introBakery {

    margin-left: 200px;
    margin-top: 100px;

    & h1 {
        letter-spacing: 4px;
        font-size: 1.5rem;
        font-weight: 100;
    }

    & h2 {
        letter-spacing: 2px;
        font-size: 3.9rem;
    }

    & h3 {
        font-size: .7rem;
        font-weight: 100;
    }
}

.lowInfo {

    height: 50%;
    width: 50%;
    padding-left: 250px;
    padding-bottom: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & p {
        margin-top: 20px;
    }

}

.bakeryPhoto {
        background-image: url(../img/bakeryPhoto.jpg);
        background-size: 100%;
        background-repeat: no-repeat;


}

.deliciousBaking {
    margin-top: 50px;

    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.menuContainer {
    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 150px;
    display: grid;
    gap: 200px;
    grid-template-columns: repeat(3, 1fr)

  }

.menu1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }

  .menu2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }

  .menu3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }

  .menu4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }

  .menu5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }

  .menu6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
  }

.readMore {
    display: flex;
    justify-content: end;
    padding-top: 100px;
    padding-right: 300px;
    padding-bottom: 500px;
    height: 100%;
    width: 100%;
    background-color: tomato;
    color: white;

    & h3 {
        font-size: 3rem;
    }

    & h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    & p {
        font-size: 1rem;
        font-weight: 100;
    }
}

.readMore {
    background-image: url(../img/readMorePic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.introReadmore {

    margin-top: 150px;
    margin-left: 100px;

}

.readMoreicon {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: rgba(137, 43, 226, 0);
    outline: solid;
    border-radius: 30px;

    & p {
        margin-top: 20px;
        margin-bottom: 20px;

    }

}



a.navigation:link {
    color: rgb(0, 0, 0);
  }


a.navigation:visited {
    color: rgb(0, 0, 0);
}


a.navigation:hover {
    color: rgb(171, 84, 29);
    transition: all 200ms ease;
}


a {
    position: relative;
}

a.navigation::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;

}

a.navigation:hover::before {
    transform: scaleX(1);
}


a.navigation:active {
    color: rgb(0, 0, 0);
}